#map-page, #map_canvas { 
	width: 100%; 
	height: 100%; 
	padding: 0; 
}

.myicon {
	position:relative;
}

.countBubl {
	background-color:#D16E00 !important;
	border-radius:2em;
	border:1px solid white !important;
}


.footable {
	text-shadow : none;
	background : initial;
	color: white;
	border: 1px solid #8C8C8C;
}
.footable thead th {
	vertical-align: initial !important;
	text-shadow: none !important;
	box-shadow: none !important;
	border-width: 0px !important;
	background-color: rgb(101, 101, 101) !important;
	background-image: linear-gradient(to bottom, rgb(101, 101, 101), rgb(47, 47, 47)) !important;
}
.footable thead th:first-child {
	border-radius: 5px 0px 0px 0px !important;
}
.footable thead th:last-child {
	border-radius: 0px 5px 0px 0px !important;
}
.footable tbody .footable-odd {
	background-color: initial;
}
.footable tbody tr:hover {
	background-color: #3B3B3B !important;
}
.footable tbody  td {
	border-width: 0px !important;
}
.footable tbody tr:not(:last-child) td {
	border-bottom: 1px solid #8C8C8C !important;
}
.footable tfoot  td {
	box-shadow : none !important;
	border-width: 0px !important;
	border-radius: 0px 0px 5px 5px !important;
	background : linear-gradient(to bottom, rgb(101, 101, 101), rgb(47, 47, 47)) !important;
}

.avatar-image {
	width:200px;
}

.logo-image-home {
	width:30%;
}

.small-image {
	width:50px;
}

.message-image {
	width: 35px;
	margin: 0px 0px 5px 5px;
}

.search-person {
	cursor: pointer; 
	cursor: hand; 
}

.search-person:hover {
	background-color:#2F2F2F;
}

.mywrap {
	white-space:normal;
	word-wrap: break-word;
}

.new_item {
	background-color:#005952 !important;
}

.thread-image {
	text-align:center;
	float:left;
	margin-right:10px;
	font-size:13px;
}

.message {
	border-radius:10px;
	padding:10px;
	color:black;
	margin-bottom:10px;
	text-shadow:none;
	word-wrap: break-word;
	white-space: pre;
}

.message-left {
	margin-right:20%;
	background-color:#e8e177;
}

.message-right {
    margin-left:20%;
	background-color:#90e6ff; 
}

.message-details {
	font-size:10px;
	text-align:right;
}

.add-member-button {
	margin-left:5px;
}

.bubble {
    position: relative;
	word-wrap: break-word;
    min-height: 38px;
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 10px;
	color:black;
	margin-left:20px;
	padding:10px;
	text-shadow:none;
}

.bubble:after {
    content: "";
    position: absolute;
    top: 15px;
    left: -15px;
    border-style: solid;
    border-width: 15px 15px 15px 0;
    border-color: transparent #ffffff;
    display: block;
    width: 0;
    z-index: 1;
}

.grid-item{
	width: 200px;
	height: 200px;
	background: black;
	transition: all 600ms ease;
	margin:5px;
	float:left;
	cursor: pointer; 
	cursor: hand; 
}

.grid-item:hover{
  box-shadow: 0px 0px 10px #fff;
}

.mapControl {
	background-color:transparent !important;
	border-width:0px;
	margin-right:7px;
}