#map-page, #map_canvas { 
	width: 100%; 
	height: 100%; 
	padding: 0; 
}

.myicon {
	position:relative;
}

.countBubl {
	background:#D16E00;
	border-radius:2em;
}

.avatar-image {
	width:200px;
}

.logo-image-home {
	width:30%;
}

.small-image {
	width:50px;
}

.search-person {
	cursor: pointer; 
	cursor: hand; 
}

.search-person:hover {
	background-color:#2F2F2F;
}

.mywrap {
	white-space:normal;
	word-wrap: break-word;
}

.new_item {
	background-color:#005952 !important;
}

.thread-image {
	text-align:center;
	float:left;
	margin-right:10px;
	font-size:13px;
}

.message {
	border-radius:10px;
	padding:10px;
	color:black;
	margin-bottom:10px;
	text-shadow:none;
	word-wrap: break-word;
}

.message-left {
	margin-right:20%;
	background-color:#90e6ff;
}

.message-right {
    margin-left:20%;
	background-color:#e8e177;
}

.message-details {
	font-size:10px;
	text-align:right;
}

.custom-radio {
	width:50px;
	height:50px;
	border-radius:25px;
	background-color:gray;
}

.custom-radio-on {
	background-color:#90e6ff;
}

.add-member-button {
	margin-left:5px;
}





.bubble {
    position: relative;
	word-wrap: break-word;
    min-height: 38px;
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 10px;
	color:black;
	margin-left:20px;
	padding:10px;
	text-shadow:none;
}

.bubble:after {
    content: "";
    position: absolute;
    top: 15px;
    left: -15px;
    border-style: solid;
    border-width: 15px 15px 15px 0;
    border-color: transparent #ffffff;
    display: block;
    width: 0;
    z-index: 1;
}




.grid-item{
  width: 100px;
  height: 100px;
  background: black;
  transition: all 300ms ease;
  margin:5px;
  float:left;
	cursor: pointer; 
	cursor: hand; 
}
.grid-item:hover{
  width: 129px;
  height: 129px;
}