html, body {
	margin:0px;
	padding:0px;
	width:100%;
	height:100%;
}
body {
	overflow-y:hidden;
	font-family: Century Gothic, sans-serif;
	background-color:white;
}


/*
	NAV DRAWER
*/

div.panel {
	width:50%;
	max-width:232px;
	height:100%;
	position:fixed;
	top:0px;
	right:100%;
	background-color:#ab0000;
	border:1px solid #570000;
	overflow-x:hidden;
	overflow-y:auto;
	z-index:1;
}
div.panel > div {
	border-bottom:1px solid #570000;
	color:white;
	font-weight:bold;
	font-size:5vw;
	padding:2vw 0vw 2vw 2vw;
	cursor: pointer; 
	cursor: hand;
}
div.panel > div:hover {
	background-color:#8d0000;
}
div.panel > div > img {
	height:5vw;
	position:relative;
	top:0.7vw;
	margin-right:0.4vw;
}
@media screen and (min-width: 465px) {
	div.panel > div  {
		padding:9px 0px 9px 9px;
		font-size:23.2px;
	}
	div.panel > div > img {
		top:0.2vw;
        height:23.2px;
    }
}


/*
    PAGE
*/

div.page {
	height:100%;
}
div.page > div.header {
	height:10%;
}
div.page > section {
	height:90%;
}
div.page > section > div {
	height:100%;
    overflow-x: hidden;
    overflow-y: auto;
	padding-left:1em;
	padding-right:1em;
}
div.page > section > div:before {
  content: "";
  display: block;
  height: 1em;
  width: 100%;
}
div.page > section > div:after {
  content: "";
  display: block;
  height: 1em;
  width: 100%;
}

/*
	HEADERS
*/

div.header {
	width:100%;
	font-size:8vmin;
	background-color:#002350;
	color:white;
	text-align:center;
}
div.header > div.name {
	position: relative;
	top: 45%;
	transform: translateY(-50%);
	display:inline-block;
}
div.header .header-left {
	float:left;
}
div.header .header-right {
	float:right;
}
div.header .header-icon {
	width:12vmin;
	height:100%;
	background-repeat:no-repeat;
	background-size: 50%;	
	background-position: center;
	cursor: pointer;
}
div.header .header-icon:hover {
	background-color:red;
}
div.header .header-icon-nav {
	background-image:url('../../images/site/svg/nav.svg');
}
div.header .header-icon-edit {
	background-image:url('../../images/site/svg/edit.svg');
}
div.header .header-icon-cancel {
	background-image:url('../../images/site/svg/cancel.svg');
}
div.header .header-icon-add {
	background-image:url('../../images/site/svg/add.svg');
}
div.header .header-icon-accept {
	background-image:url('../../images/site/svg/accept.svg');
}
div.header .header-icon-settings {
	background-image:url('../../images/site/svg/settings.svg');
}
div.header .header-icon-arrowdown {
	background-image:url('../../images/site/svg/arrowdown.svg');
}


/*
	LOGIN
*/
#login-form {
	text-align:left;
	display:inline-block;
}
.logo-image-home {
	width:200px;
	background-color:#002350;
	margin-top:1em;
	margin-bottom:1em;
	display:block;
}

/*
	GRID
*/
.grid-item{
	width: 200px;
	height: 200px;
	background: black;
	transition: all 600ms ease;
	margin:5px;
	float:left;
	cursor: pointer; 
	cursor: hand; 
}
.grid-item:hover{
	box-shadow: 0px 0px 10px #fff;
}


/*
	PROFILE
*/

#profile-fullname {
	font-size:28px;
	margin-bottom:10px;
	font-weight:bold;
}
#profile-avatar-image {
	border:1px solid #002350;
	display:block;
	width:200px;
}
#profile-buttons {
	background-color:#002350;
	margin-top:1.5em;
	width:100%;
	height:50px;
}
#profile-buttons > a, #profile-buttons > div {
	display:inline-block;
	cursor: pointer; 
	cursor: hand;
}
#profile-edit-form textarea {
	width:100%;
}
#profile-edit-form > input, #profile-edit-form > textarea {
	margin-bottom:1em;
}
.profile-icon {
	width:9vw;
	max-width:47px;
	height:30px;
	padding:10px;
}
.profile-icon:hover {
	background-color:red;
}

/*
	PLACEMENT
*/

#placement-list > div {
	border:2px solid #002350;
	padding:1em;
	cursor: pointer; 
	cursor: hand;
}
#placement-list > div:not(:last-child) {
	margin-bottom:1em;
}
#placement-edit-form > input, #placement-edit-form > select {
	margin-bottom:1em;
}
.placement-small-icon {
	width:1em;
	padding:0.1em;
	margin-right:0.5em;
	background-color:#002350;
}

/*
    CHECKLIST
*/

#checklistCB > div {
	border:2px solid #002350;
}
#checklistCB > div:not(:last-child) {
	margin-bottom:1em;
}
#checklistCB > div > div:nth-child(2) {
	padding:1em;
	background-color:#C5C5C5;
}
#checklistCB > div > div:nth-child(3) {
	padding:1em;
	background-color:#A1A1A1;
}

/*
	SEARCH
*/

#search-form {
	float:right;
	margin-bottom:1em;
}
.search-settings-title {
	font-size:20px;
	font-weight:bold;
	margin-bottom:1em;
}
.search-icons > div {
	display:inline-block;
	cursor: pointer; 
	cursor: hand;
}
.search-small-icon {
	background-color:#002350;
	width:1em;
	padding:0.5em;
}
.divscrollable {
	width:100%;
	overflow-y:hidden;
	overflow-x:auto;
}
.footable {
	text-shadow : none;
	background : initial;
	color: black;
	border: 1px solid #8C8C8C;
}
.footable thead th {
	color:white;
	vertical-align: initial !important;
	text-shadow: none !important;
	box-shadow: none !important;
	border-width: 0px !important;
	background-color: rgb(101, 101, 101) !important;
	background-image: linear-gradient(to bottom, rgb(101, 101, 101), rgb(47, 47, 47)) !important;
}
.footable tbody .footable-odd {
	background-color: initial;
}
.footable tbody tr:hover {
	color:white;
	background-color: #3B3B3B !important;
}
.footable tbody  td {
	border-width: 0px !important;
}
.footable tbody tr:not(:last-child) td {
	border-bottom: 1px solid #8C8C8C !important;
}
.footable tbody tr.search_row_select {
	color:white;
	background-color: #005952 !important;
}
.footable tbody tr.search_row_select:hover {
	background-color: #007A70 !important;
}
.footable tfoot  td {
	box-shadow : none !important;
	border-width: 0px !important;
	background : linear-gradient(to bottom, rgb(101, 101, 101), rgb(47, 47, 47)) !important;
}
.search-person {
	cursor: pointer; 
	cursor: hand; 
}
.search-person:hover {
	background-color:#2F2F2F;
}
.small-image {
	width:3em;
}

/*
	MAP
*/

#map-page, #map_canvas { 
	width: 100%; 
	height: 100%; 
	padding: 0; 
}
#map_content {
    padding: 0;
    position : absolute !important; 
    top : 40px !important;  
    right : 0; 
    bottom : 40px !important;
    left : 0 !important;     
}
.mapControl {
	cursor:pointer;
	background-color:transparent !important;
	border-width:0px;
	margin-right:7px;
	width:2em;
}
.cluster{
	color: #FFFFFF;
	text-align:center;
	font-size:11px;
	font-weight:bold;
}
.cluster-1{
	background-image:url(../../images/site/map/m1.png);
	line-height:53px;
	width: 53px;
	height: 52px;
}
.cluster-2{
	background-image:url(../../images/site/map/m2.png);
	line-height:53px;
	width: 56px;
	height: 55px;
}
.cluster-3{
	background-image:url(../../images/site/map/m3.png);
	line-height:66px;
	width: 66px;
	height: 65px;
}





/*
	THREAD
*/
#thread-list > table {
	border:2px solid #002350;
	width:100%;
	cursor: pointer; 
	cursor: hand; 
}
#thread-list  > table > tbody > tr > td:first-child {
	width:1em;
}
#thread-list > table:not(:last-child) {
	margin-bottom:1em;
}
.add-member-button {
	margin-left:5px;
}
.thread-popup {
	display:none;
	margin:5px;
}
.thread-image {
	text-align:center;
	float:left;
	margin-right:10px;
	font-size:13px;
	cursor: pointer; 
	cursor: hand; 
}
.thread-image img {
	width:2em;
}
.thread-small-icon {
	width:1em;
	padding:0.1em;
	margin-right:0.5em;
	background-color:#002350;
}
.thread-add-user-button {
	width:1em;
	padding:0.1em;
	margin-right:0.5em;
	background-color:#002350;
	cursor: pointer; 
	cursor: hand; 
}

/*
	MESSAGE
*/


.message {
	border-radius:10px;
	padding:10px;
	color:black;
	margin-bottom:10px;
	text-shadow:none;
}

.message-left {
	margin-right:20%;
	background-color:#e8e177;
}

.message-right {
    margin-left:20%;
	background-color:#90e6ff; 
}

.message-details {
	font-size:10px;
	text-align:right;
}
.message-image {
	width: 35px;
	margin: 0px 0px 5px 5px;
}





/*
	RESOURCES
*/
#resource-list > table {
	border:2px solid #002350;
	width:100%;
}
#resource-list > table > tbody > tr > td:first-child {
	width:1em;
}
#resource-list > table:not(:last-child) {
	margin-bottom:1em;
}
.resource-small-icon {
	width:1em;
	padding:0.1em;
	margin-right:0.5em;
	background-color:#002350;
}

/*
	ABOUT
*/

.about-title {
	font-size:28px;
	margin-bottom:10px;
	font-weight:bold;
}


/*
	BUBBLE
*/

.countBubl {
	background-color:#D16E00 !important;
	border-radius:2em;
	border:1px solid white !important;
}
.bubble {
    position: relative;
	word-wrap: break-word;
    min-height: 38px;
    background: #FFAB00;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
	color:black;
	padding:10px;
	text-shadow:none;
	display:inline-block;
    margin-bottom:20px;
}
.bubble::before {
	content: "";
	position: absolute;
	top: 100%;
	left: 10%;
	border-top: 10px solid #FFAB00;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent; 
}


/*
	OTHER
*/

.new_item {
	background-color:#005952 !important;
}

.multiline {
	white-space: pre-wrap;
	word-wrap: break-word;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	cursor: default;
}